.reg-container {
  position: absolute;
  top: 0;
  bottom: 80px;
  right: 0;
  left: 0;
}

.reg-ac-form {
  background: #eff3f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  font-family: "fira_sansultralight";
  width: 540px;
  margin: 5% auto 0 auto;
  -webkit-box-shadow: 0 4px 7px rgba(13,16,7,.29);
  -moz-box-shadow: 0 4px 7px rgba(13,16,7,.29);
  box-shadow: 0 4px 7px rgba(13,16,7,.29);
  text-align: center;
}

.reg-ac-form .header-reg-form {
  font-size: 36px;
  color: #fff;
  border-bottom: 15px solid #67dffa;
  padding-top: 19px;
  background: #48cbe8;
  text-align: center;
  font-family: "fira_sansbook";
  height: 72px;
}

.reg-ac-form .form {
  width: 386px;
  padding: 0;
  margin: 14px auto;
}

.reg-ac-form .form .login, .reg-ac-form .form .password {
  margin-bottom: 14px; 
}

.label {
  color: #959aa8;
  font-size: 32px;
}

.input {
  color: #48cbe8;
  width: 386px;
  padding: 11px 8px;
  background: #fff;
  border: 1px solid #48cbe8;
  font-size: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: right;
}

.btn {
  -moz-border-radius: 5px;
  font-size: 32px;
  -webkit-border-radius: 5px;
  float: left;
  padding: 2px 63px;
  font-family: "fira_sansbook";
  margin: 20px 92px;
  color: #fff;
  background-color: #48cbe8;
  border-radius: 5px;
  border-bottom: 4px solid #3ba8c0;
  display: block;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto!important;
  overflow: hidden;
}

.wrapper:after {
  content: " ";
  display: block;
}

.page-footer {
  background: #eff3f7 url(../img/line.png) top center no-repeat;
  width: 100%;
}

.page-footer .container {
  position: relative;
  padding-top: 23px;
}

.copyright {
  margin: 0 180px 20px 180px;
  font-size: 13px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
}

.container:before, .clearfix:before, .container:after, .clearfix:after {
  content: " ";
  display: table;
}

.container:after, .clearfix:after {
  clear: both;
}

.server-mes{
  border-radius: 4px;
  border: 1px solid;
  font-size: 12px;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 6px; 
  display: none;
}
.error-mes{ 
  background-color: #fad2d1;
  border-color: #f97e76;
  color: #f97e76; 
}
.success-mes{
  background-color: #b8e1ce;
  border-color: #49bb7b;
  color: #49bb7b;
}

.has-error{
  background-color: #fad2d1 !important;
  border-color: #f97e76 !important;
}
.has-success{
  background-color: none;
  border-color: #3c763d;
}

/* placeholder */
*::-webkit-input-placeholder {
    color: #48cbe8;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #48cbe8;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #48cbe8;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #48cbe8;
}
